CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.vs
/VoxelEngine/.vs
/VoxelEngine/out/build/x64-Debug/.cmake/api/v1
/VoxelEngine/out/build/x64-Debug
/.vagrant
