<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>gtest main runall</Title>
      <Author>Asbjørn Faurholt</Author>
      <Description>Inserts a main for gtest that runs all tests</Description>
      <Shortcut>gtmain</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CPP">
        <![CDATA[
int main(int argc, char **argv) {
  ::testing::InitGoogleTest(&argc, argv);
  return RUN_ALL_TESTS();
}
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>